@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
}

/* body {
    margin: 0;
} */

/* body {
    font-family: "Work Sans";
} */


/* shared styles */
.display-flex {
    display: flex;
}

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}

main>section {
    margin-top: 130px;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 800;
}






/* header styles */



/* navbar related styles */
/* .nav-bar {
    display: flex;
}
.nav-links {
    display: flex;
} */

.nav-bar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    list-style: none;
    /* padding: 0 20px; */
    margin-left: 30px;
}

.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.nav-bar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-content {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    /* align-items: center; */
    /* max-height: 225px; */
    max-width: 862px;
    text-align: center;
    margin-bottom: 3rem;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 4.5rem;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 2rem;
    margin-top: 0px;
}

.btn-primary {
    /* margin-bottom: 3rem; */
    padding: 1.25rem 1.5rem;
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: .5rem;
}

.banner-img {
    width: 100%;
}


/* responsive media query */
@media screen and (max-width: 576px) {

    .nav-bar,
    .nav-links {
        flex-direction: column;
        /* margin: 0 auto; */
        /* align-items: center; */
    }

    .nav-links {
        padding-left: 0;
        text-align: center;
    }

    .nav-item {
        margin-left: 0;
    }

    .brand {
        /* padding: 0; */
        margin-bottom: 0px;
        font-size: 2rem;
    }

    .banner-title {
        font-size: 3rem;
        line-height: 50px;
    }
}










main {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 85px;
}

.our-features {
    /* height: 304px; */
    width: 537px;
}

.teams {
    align-items: center;
    justify-content: center;
    gap: 76px;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

}


#quick-list,
#of-our,
#features {
    font-size: 3rem;
}


#quick-list {
    font-weight: 500;
}

#of-our,
#features {
    font-weight: 800;
}

#features {
    color: #FF900E;
}


.feature-title {
    margin: 0;
}

.feature-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.feature-btn {
    margin: 0;
}


/* small device */
@media screen and (max-width: 576px) {
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features {
        width: 100%;
    }
}

/* Medium device */
@media screen and (min-width: 576.1px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }
}